<h2>Edit the cocktail</h2>

<%= simple_form_for(@cocktail) do |f| %>
  <p>
   <%= f.input :name %>
  </p>
  <p>
    <%= f.submit "Update", class: "btn btn-default" %>
  </p>
<% end %>

<%= link_to "Back", cocktails_path %>
