<h2 class="text-center">Cocktails</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="text-center padded">
        <ul class="list-unstyled">
          <% @cocktails.each do |cocktail| %>
            <li>
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="text-center padded">
  <%= link_to 'Create a cocktail', new_cocktail_path(@cocktail), class: "btn btn-default" %>
</div>

