<h2 class="text-center">Cocktails</h2>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <div class="card-header", style="background-image: url('https://static.pexels.com/photos/160150/pexels-photo-160150.jpeg');">
          </div>
          <div class="card-body">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center padded">
  <%= link_to 'Create a cocktail', new_cocktail_path(@cocktail), class: "btn btn-default" %>
</div>

