<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1494423909/xackpaeed1foogjvz15u.jpg')">
  <div class= "banner-content">
    <h1>Cocktails</h1>
    <p>
      <%= link_to 'Add a new cocktail', new_cocktail_path(@cocktail), class: "btn btn-banner" %>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">

        <% if cocktail.photo %>
          <div class="card " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path cocktail.photo %>')">
        <% else %>
          <div class="card " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1494412145/grxpi2d0eyfpsgr8ujtf.jpg')">
        <% end %>

          <div class="card-description">
            <p>
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </p>
          </div>
        </div>
      </div>
     <% end %>
  </div>
</div>

